@import "mixins";

$brand-primary:         #7CBDA1 !default;
$brand-success:         #DA807D !default;
$brand-info:            #F3C8B4 !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$dark-color: #383D40;
$light-color: #F5F2F1;


.angular-google-map-container { height: 400px; }
.dropzone .dz-default.dz-message {
  background-image: url("../images/icons/upload3.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-top: 0.3em;
}
.dropzone{
//  background: $light-color;
  border: none !important;
  border-radius: 0;
  top: 57%;
  text-align: center;

  h2 {
    color: $dark-color;
  }
}
.current-printer{
  background: #ffffff;
  border: 1px solid #ebebeb;
  margin-bottom: 2em;
  margin-top: -0.7em;
  .info{
    cursor: pointer;
    background: url('../images/icons/location.svg') no-repeat;
    background-size: contain;
    background-position: right center;
    background-origin: content-box;
    padding: 10px 20px;
  }
}
.cancel{
  margin-top: 0.5em;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
.button.print{
  margin-right: 2em;
}
.drop-container{
  margin-bottom: 2em;
}
.map-expander{
  @include transition(height 0.3s);
  height: 0;
  overflow: hidden;
}
.map-shown-true{
  height: 400px;

}

.files{
  ul{
    margin-bottom: 1em;
  }
  li{
    margin-bottom: 1em;
  }
  li:last-child{
    margin-bottom: 0em;
  }
  li.pdf{
    background: url('../images/icons/file-pdf.svg') no-repeat;
    background-size: auto 100%;
    background-position: left center;
    padding-left: 45px;
  }
}
.sections-wrapper{
  overflow: hidden;
  width: 100%;
  height: 600px;
}
.sections{
//  width: 300%;
  position: relative;
  @include transition(transform 0.3s);
  & > * {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
  }
  .section2{
    @include vendor(transform, translateX(100%));
  }
  .section3{
    @include vendor(transform, translateX(200%));
  }
  height: 100%;
}

.sections.first{
  @include vendor(transform, translateX(0));
}
.sections.second{
  @include vendor(transform, translateX(-100%));
}
.sections.third{
  @include vendor(transform, translateX(-200%));
}