<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <script src="//api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/dropzone/downloads/css/dropzone.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
      <link rel="stylesheet" href="styles/main.css">
      <link rel="stylesheet" href="styles/print.css">
      <link rel="stylesheet" href="styles/map.css">
      <link rel="stylesheet" href="styles/orders.css">
      <link rel="stylesheet" href="styles/twenty/skel.css" />
      <link rel="stylesheet" href="styles/twenty/style.css" />
      <link rel="stylesheet" href="styles/twenty/style-noscript.css" />
    <!-- endbuild -->
  </head>
  <body  class="index" ng-app="qprintApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Header -->
    <header id="header" class="">
        <h1 id="logo"><a href="index.html">Qprint <span>by enactus team</span></a></h1>
        <nav id="nav">
            <ul>
                <li class="{{isMainActive}}"><a href="#/">Главная</a></li>
                <li class="{{isOrdersActive}}"><a href="#/orders" >Заказы</a></li>
                <li class="{{isProfileActive}}"><a href="#/profile" >Профиль</a></li>
            </ul>
        </nav>
    </header>

    <!-- Banner -->
    <section id="main">
        <div class="container">

            <div class="view" ng-view=""></div>
        </div>
        <!--
            ".inner" is set up as an inline-block so it automatically expands
            in both directions to fit whatever's inside it. This means it won't
            automatically wrap lines, so be sure to use line breaks where
            appropriate (<br />).
        -->
        <!--<div class="inner">-->
            <!--<header>-->
                <!--<h2>Qprint</h2>-->
            <!--</header>-->
            <!--<p>This is <strong>Qprint</strong>, a free<br />-->
                <!--responsive template<br />-->
                <!--by <a href="http://html5up.net">HTML5 UP</a>.</p>-->
            <!--<footer>-->
                <!--<ul class="buttons vertical">-->
                    <!--<li><a href="#main" class="button fit scrolly">Tell Me More</a></li>-->
                <!--</ul>-->
            <!--</footer>-->
        <!--</div>-->

    </section>
    <!--<!-- Add your site or application content here -->
    <!--<div class="container">-->
        <!--<div class="header">-->
            <!--<ul class="nav nav-pills pull-right">-->
                <!--<li class="active"><a ng-href="#/">Главная</a></li>-->
                <!--<li><a ng-href="#/profile">Профиль</a></li>-->
                <!--<li><a ng-href="#/about">О проекте</a></li>-->
            <!--</ul>-->
            <!--<h3 class="text-muted">Qprint</h3>-->
        <!--</div>-->

        <!--<div class="view" ng-view=""></div>-->
    <!--</div>-->

    <!--<div class="messages">-->
        <!--<div class="message" ng-repeat="message in messages">-->
            <!--<div class="close-button" ng-click="closeMessage(message)"></div>-->
             <!--<h3>{{message.status}}</h3>-->
            <!--<p>-->
                <!--{{message.text}}-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/dropzone/downloads/dropzone.min.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/libraries/jquery.dropotron.min.js"></script>
        <script src="scripts/layout/skel.min.js"></script>
        <script src="scripts/layout/skel-layers.min.js"></script>
        <script src="scripts/layout/init.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/common/resources.js"></script>
        <script src="scripts/common/directives.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/profile.js"></script>
        <script src="scripts/controllers/orders.js"></script>
        <!-- endbuild -->
</body>
</html>
