<div id="main">
    <div class="container">
        <h2 class="h2">Вход в систему</h2>

        <form method="post" action="#" style="margin-top: 30px">
            <div class="row">
                <div class="6u"><input ng-model="user.username" type="text" class="text" placeholder="Имя"/></div>
                <div class="6u"><input ng-model="user.password" type="password" class="text" placeholder="Пароль"/>
                </div>
            </div>
            <div class="row">
                <div class="12u">
                    <ul class="actions">
                        <li><input type="button" class="button" ng-click="login()" value="Вход"/></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>