<div id="main">
    <div class="container">
        <h2>Мои заказы</h2>

        <ul class="orders">
            <li ng-repeat="order in myOrders">
                <span class="time text-muted small">{{order.time | date:'HH:mm dd.MM.yyyy'}}</span>
                <span class="file">{{order.file}}</span>

                <div class="status">Отправлено на печать</div>
                <div class="price">{{order.price}} руб.</div>
                <div class="order-code">Код: {{order.order_code}}</div>
            </li>
        </ul>
    </div>
</div>